.container {
    width: 95%;
    margin: 1rem auto;
}

.formContainer {

}

.formGroup {
    width: 100%;
}

.formLabel {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

.formInput {
    display: block;
    width: 100%;
    padding: 0.5rem;

}

.editorContainer {
    background-color: white;
}

.submitButton {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}