.container {
  width: 100%;
}

.bicycleContainer {
  background-color: white;
  padding: 1rem;
  width: 90%;
  margin: 1rem auto;
  border-radius: 5px;
}

.header {
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  color: var(--primary);
  font-size: 1rem;
}

.bicycleListContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem;
}

.bicycleItem {
  background-color: white;
  color: var(--primary);
  font-weight: bold;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.cardContainer {
  width: 95%;
  margin: 0 auto;
}

.bikeUserContainer {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bikeUserContainer h5 {
  text-align: center;
}

.bikeUserContainer p {
  text-align: center;
}

.loginButton {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
  border-width: 1px;
  border-radius: 5px;
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.bikeWaiting {
  background-color: red;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 50px;
}

.bikeReturned {
  background-color: var(--primary);
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 50px;
}

.bikeName {
  font-weight: bold;
}
