.homeContainer {
  min-height: 150vh;
  position: relative;
}

.homeSliderContainer {
  width: 95%;
  margin: 0 auto;
}

.categorySliderContainer {
  width: 95%;
  margin: 1rem auto;
}

.hotSliderContainer {
  width: 95%;
  margin: 1rem auto;
}

.searchInput {
  width: 95%;
  background-color: white;
  display: flex;
  padding: 0.1rem 0 !important;
  margin: 0 auto 1rem;
  border-radius: 5px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  margin: 0 1rem;
  background-color: rgb(226, 225, 225);
  border-radius: 50px;
  position: absolute;
  top: 1rem;
  right: 0;
}

.searchIcon svg {
  width: 100%;
  height: 100%;
  color: var(--primary);
}

.slogan {
  font-weight: bold;
  font-size: 0.8rem;
  color: #ee6a26;
  background-color: white;
  width: fit-content;
  border-radius: 50px;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}