.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 1rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}


.goldenSponsorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    background-color: white;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

.goldenSponsorContainer img {
    width: 100%;
    max-width: 5rem;
}

.goldenSponsorContainer p {
    margin: 0.2rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.sponsorIcon {
    width: 100%;
}

.sponsorsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    /* margin: 0 1rem; */
}

.sponsorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 47%;
    /* max-width: 10rem; */
    background-color: white;
    border-radius: 15px;
    margin: 0.5rem 0;
    padding: 0.2rem;
}

.sponsorContainer img {
    width: 30%;
    max-width: 10rem;
    border-radius: 5px;
    margin-top: 1rem;

}

.sponsorContainer p {
    font-size: 0.8rem;
    margin: 0.5rem 0 0.2rem 0;
}