.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

.logo {
  width: 2rem;
  border-radius: 15px;
}

.slogan {
  font-weight: bold;
  font-size: 0.8rem;
  color: #ee6a26;
  /* background-color: white; */
  /* width: fit-content; */
  /* border-radius: 50px; */
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}