.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formLabel {
    display: block;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

.formInput {
    width: 100%;
    padding: 0.5rem 1rem;
}

.formButton {
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: 0;
    border-radius: 5px;
    font-weight: bold;

}