.infoContainer {
    width: 90%;
    margin: 1rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .descriptionHeader {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  .name {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .state {
    background-color: var(--primary);
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 50px;
  }
  
  .infoContainer img {
    width: 100%;
  }
  
  .scanContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }
  
  .scanContainer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  .scanContainer section {
    height: 100% !important;
  }
  
  .scanButton {
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-width: 1px;
    border-radius: 5px;
    margin: 0 0 1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
  }
  
  .resultContainer {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
  }
  
  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }
  
  .loginContainer button {
  }
  